## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [15]:
mi_lista1= ['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche']

2) Imprimir por pantalla el segundo elemento de la lista

In [5]:
print(mi_lista1[1])

Cordoba

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
print(mi_lista1[1:5])

['Cordoba', 'Salta', 'Jujuy', 'Bariloche']

4) Visualizar el tipo de dato de la lista

In [7]:
print(type(mi_lista1))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [9]:
print(mi_lista1[1:])

['Cordoba', 'Salta', 'Jujuy', 'Bariloche']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
print(mi_lista1[:4])

['Neuquen', 'Cordoba', 'Salta', 'Jujuy']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [18]:
mi_lista1.append('Salta')
mi_lista1.append('Participantes')
print(mi_lista1)

['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Salta', 'Participantes']

8) Agregar otra ciudad, pero en la cuarta posición

In [13]:
mi_lista1.insert(3, 'Soy el nuevo')
print(mi_lista1)

['Neuquen', 'Cordoba', 'Salta', 'Soy el nuevo', 'Jujuy', 'Bariloche', 'Salta', 'Participantes']

9) Concatenar otra lista a la ya creada

In [17]:
mi_lista2 = [1, 2, 3]
mi_lista1.extend(mi_lista2)

print(mi_lista1)

['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3]

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [19]:
mi_lista1.index('Salta') # Me retorna el indice del 1er valor que encuentra

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [20]:
mi_lista1.index('pepepe')

ValueError: 'pepepe' is not in list

12) Eliminar un elemento de la lista

In [21]:
print(mi_lista1)
mi_lista1.pop()
print(mi_lista1)

# Tambien puedo eliminar por indice
del mi_lista1[1]

['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Salta', 'Participantes']
['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Salta']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [22]:
mi_lista1.remove('Participantes')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [23]:
ultimo= mi_lista1.pop()
print(ultimo)

Salta

15) Mostrar la lista multiplicada por 4

In [24]:
mi_lista1*4

['Neuquen',
 'Cordoba',
 'Salta',
 'Jujuy',
 'Bariloche',
 1,
 2,
 3,
 'Neuquen',
 'Cordoba',
 'Salta',
 'Jujuy',
 'Bariloche',
 1,
 2,
 3,
 'Neuquen',
 'Cordoba',
 'Salta',
 'Jujuy',
 'Bariloche',
 1,
 2,
 3,
 'Neuquen',
 'Cordoba',
 'Salta',
 'Jujuy',
 'Bariloche',
 1,
 2,
 3]

16) Crear una tupla que contenga los números enteros del 1 al 20

In [25]:
milista_creada = []

for i in range(1,21):
    milista_creada.append(i)

tuplaNueva = tuple(milista_creada)
print(tuplaNueva)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [26]:
print(tuplaNueva[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [27]:
20 and 30 in tuplaNueva

False

In [37]:
# "Salta" in mi_lista1 #Lo puedo utilizar en listas
"Paris" in mi_lista1

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [38]:
if not 'Paris' in mi_lista1:
    print("Hola")
    nuevo = 'Paris'
    mi_lista1.append(nuevo)

print(mi_lista1)

Hola
['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [53]:
print(tuplaNueva.count(10))

1

21) Convertir la tupla en una lista

In [41]:
list(tuplaNueva) # Esto no modificila la original
# type(tuplaNueva)

tuple

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [42]:
primera= tuplaNueva[0]
segunda= tuplaNueva[1]
tercero= tuplaNueva[2]

print(primera, segunda, tercero)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [45]:
print(mi_lista1)

diccionario={"ciudad": mi_lista1, "Pais": "Argentina", "Continente": "America"}

# Constructor

dicc = dict(Ciudad=mi_lista1)

['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Paris']

24) Imprimir las claves del diccionario

In [50]:
diccionario.keys()

dict_keys(['ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [47]:
print(diccionario["ciudad"])

#Funcion input (para ingresar por teclado los datos)

['Neuquen', 'Cordoba', 'Salta', 'Jujuy', 'Bariloche', 1, 2, 3, 'Paris']